* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(255, 255, 255, 0.659), rgba(255, 255, 255, 0.659)), 
  url('../images/banner.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

.login-card {
  background: white;
  border-radius: 12px;
  padding: 30px 25px;
  text-align: center;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.login-card h2 {
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 600;
  font-family: Lucida;
  color: #6b0000;
  font-size: 30px;
}

.brand {
  font-style: italic;  
  background: #8f0808;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 13px;
  color: #8f0808;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

.login-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  background: #6b0000;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 25px;
}

.login-btn:hover {
  opacity: 0.9;
}

.signup-text {
  font-size: 12px;
  color: #888;
}

.signup-link {
  font-size: 13px;
  font-weight: bold;
  color: #6b0000;
  text-decoration: none;
}
