    <nav class="navbar">
        <div class="nav-container">
            <div class="logo">
                <span class="logo-text">Closetry</span>
            </div>
            <ul class="nav-menu">
                <li><a href="#outfit-maker" class="nav-link">Closetry</a></li>
                <li><a href="#dressfleet" class="nav-link">Dressfleet</a></li>
                <li><a href="#blog" class="nav-link">Blog</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </div>
    </nav>
